.container{
    background-color: aqua;
    position: fixed;
    top: 50px;
    left: 100px;
    right: 100px;
    z-index: 0;
    height: fit-content;
}
#titulo_container{
    font-size: 5vh;
    margin-left: 200px;
    color: rgb(60, 60, 60);
}