/* Estilo para tabelas de pacientes */
.table-pacientes {
  width: 100%; /* Largura total */
  border-collapse: collapse; /* Remove espaços entre bordas */
  margin-bottom: 20px; /* Espaçamento inferior */
}

/* Estilo para cabeçalho da tabela */
.table-pacientes thead {
  background-color: #007bff; /* Cor de fundo do cabeçalho */
  color: white; /* Cor do texto do cabeçalho */
}

.table-pacientes th {
  padding: 10px; /* Espaçamento interno */
  text-align: left; /* Alinha o texto à esquerda */
  text-align: center;
}

/* Estilo para as células da tabela */
.table-pacientes td {
  padding: 10px; /* Espaçamento interno */
  border: 1px solid #ddd; /* Borda das células */
}

/* Estilo para a linha do paciente */
.paciente-item {
  background-color: #ffffff; /* Cor de fundo padrão */
  transition: background-color 0.3s; /* Transição suave para hover */
}

.paciente-item:hover {
  background-color: #f1f1f1; /* Cor de fundo ao passar o mouse */
}

/* Estilo para as ações de consulta feitas */
.pacienteFC-item {
  background-color: #e7f5ff; /* Cor de fundo para consultas feitas */
}

/* Estilo para os dados de paciente */
.paciente-dados,
.FC-dados {
  font-size: 16px; /* Tamanho da fonte */
}


/* Estilo para a seção de título de consultas feitas ou canceladas */
h4 {
  margin-top: 20px; /* Espaçamento superior */
  text-align: center; /* Centraliza o texto */
  color: #333; /* Cor do texto */
}
.Botões-FC{
  margin-top: 100px;
}
.Botões-FC Button{
  margin: 10px;
}