
@import url('https://fonts.googleapis.com/css2?family=Joan:wght@400;700&display=swap');


.body-login {
    background: linear-gradient(to top, #6095C6, #9DC0E1 80%, #79BFFF);
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: 'Joan', sans-serif;
}

#header-login {
    padding-bottom: 10px;
}

#header-login p {
    display: flex;
    font-size: 30px;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    ;
}

#header-login img {
    width: 400px;
    height: auto;
}

#tela-login {
    background-color: #FFFFFF;
    border-radius: 25px;
    padding: 150px;
    padding-top: 50px;
    padding-bottom: 20px;
}

#login-Dados form label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

#login-Dados form label input[type="checkbox"] {
    display: none;
}

#login-Dados form label .custom-checkbox {
    width: 25px;
    height: 25px;
    border: 2px solid #0386FF;
    border-radius: 7px;
    display: inline-block;
    margin-right: 8px;
    position: relative;
}

#login-Dados form label input[type="checkbox"]:checked+.custom-checkbox::after {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    top: 4px;
    left: 4px;
    background-color: #0386FF;
    border-radius: 5px;
}

#login-parte-baixo {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 35px;
}

#login-parte-baixo a,
.TextoConectado,
#header-login p {
    color: #193D5F;
}

#login-parte-baixo a:hover {
    color: #2a7fcf;
}

.TextoConectado,
#parte-baixo a {
    font-size: 25px;
}

#ComponenteLogin {
    display: block;
    margin-bottom: 30px;
    background-color: #79beff21;
    padding: 10px;
    border-radius: 25px;
    width: 120%;
    border: 2px solid #0084FF;
    font-size: 30px;
    box-sizing: border-box;
    padding: 20px;
    margin-left: -5%;
}

#email, #senha{
    display: block;
    margin-bottom: 30px;
    background-color: #79beff21;
    padding: 10px;
    border-radius: 25px;
    width: 120%;
    border: 2px solid #0084FF;
    font-size: 30px;
    box-sizing: border-box;
    padding: 20px;
    margin-left: -5%;
}

#ComponenteLogin::placeholder {
    color: #0084ff47;
    font-size: 35px;
    line-height: 30px;
}

#login-parte-baixo button {
    border: none;
    color: rgb(255, 255, 255);
    background-color: #0386FFB3;
    border-radius: 30px;
    width: 70%;
    height: 50px;
    padding: 30px;
    margin: 15px;
    font-size: 27px;
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#login-parte-baixo button:hover {
    background-color: #45a5ffb3;
}