nav{
    max-width: 250px;
    min-width: 50px;
    margin-top: 5vh;
    margin-left: 20px;
    height: 90vh;
    background-color: #194569;
    border-radius: 20px;
    transition: width 0.5s ease, height 0.5s ease;
}
.Logo{
    display: flex;
    max-width: 200px;
    font-size: 30px;
    color: aliceblue;
    margin: 0 auto;
    padding: 20px;
}

ul{
    margin: auto;
    display: block;
    list-style: none;
}
.li_icon:hover{
    background-color: rgba(6, 6, 6, 0.091);
}
.li_icon{
    text-decoration: none;
    margin-right: 10px;
    font-size: 20px;
    padding: 10px;
    margin: 5px;
    color: aliceblue;
    font-weight: 400;
    display: flex;
    border-radius: 10px;
}
.li_icon p{
    padding-left: 10px;
}

/*icone lembretes*/
#icon_lembretes{
    display: none;
}

/*Responsividade para tablet e mobile*/
@media (max-width:760px) {
    nav{
        max-width: 100vw;
        min-width: 100vw;
        margin: 0%;
        padding: 0%;
        border-radius: 0%;
        position: fixed;
        bottom: 0%;
        height: 60px;
        z-index: 1000;
    }
    ul{
        display: flex;
        justify-content: space-evenly;
    }
    li p{
        display: none;
    }
    .nav_state{
        display: none;
        width: 0;
        height: 0;
    }
    .logo_div{
        display: none;
    }
    .li_icon{
        margin-right: 0;
    }
    #icon_lembretes{
        display: block;
    }
}