/* ScrollableComponent.css */
.scrollable-container {
    width: 100%; /* Definindo uma largura fixa */
    max-height: 400px; /* Definindo uma altura máxima para permitir o scroll */
    overflow-y: scroll; /* Habilitando o scroll vertical */
    border: 1px solid #ddd; /* Apenas para dar uma borda ao componente */
    padding: 15px; /* Um pouco de padding para o conteúdo não ficar grudado nas bordas */
    margin: 20px 0; /* Para deixar um espaçamento entre o componente e outros elementos */
    background-color: rgba(255, 255, 255, 0.724);
    border-radius: 10px;
  }

.fluxo_section{
  display: grid;
  grid-template-columns: repeat(2,1fr);
}
.second_division{
  margin-top: 10%;
}
.gasto, .ganho{
  background-color: #ffa00841;
  padding: 5px;
  border-radius: 8px;
}
.checkbox_mensal{
  margin-left: 20px;
  margin-right: 20px;
}
  /* Para Chrome, Edge e Safari */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background: #ffffff;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: #f0f0f0;
}

.buttons{
  display: flex;
}
.buttons Button{
  margin: 5px;
}

@media (max-width:900px) {
  .fluxo_section{
    grid-template-columns: repeat(1,1fr);
  }

}
@media (max-width:700px) {
  .grafico_container{
    width: 300px;
  }
}
