
.scrollable-container {
    width: 100%; 
    max-height: 400px;
    overflow-y: scroll;
    border: 1px solid #ddd; 
    padding: 15px;
    margin: 20px 0;
    background-color: rgba(255, 255, 255, 0.724);
    border-radius: 10px;
  }
.gasto, .ganho{
  background-color: #ffa00841;
  padding: 5px;
  border-radius: 8px;
}
.checkbox_mensal{
  margin-left: 20px;
  margin-right: 20px;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background: #ffffff;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: #f0f0f0;
}

.buttons{
  display: flex;
}
.buttons Button{
  margin: 5px;
}

body {
  scrollbar-width: thin;
  scrollbar-color: #ffa008 #f0f0f0;
}


