.debitos{
    background-color: rgb(192, 53, 97);
    width: 10%;
    padding: 15px;
    color: aliceblue;
    width: 150px;
    border-radius: 10px;
    height: 120px;
}

.cardTitle{
    text-align: center;
}

.textDebitos{
    text-align: center;
}