
.scrollable-container {
    width: 100%; 
    max-height: 400px;
    overflow-y: scroll;
    border: 1px solid #ddd; 
    padding: 15px;
    margin: 20px 0;
    background-color: rgba(255, 255, 255, 0.724);
    border-radius: 10px;
  }

.fluxo_section{
  display: grid;
  grid-template-columns: repeat(2,1fr);
}
.second_division{
  margin-top: 10%;
}
.gasto, .ganho{
  background-color: #ffa00841;
  padding: 5px;
  border-radius: 8px;
}
.checkbox_mensal{
  margin-left: 20px;
  margin-right: 20px;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background: #ffffff;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: #f0f0f0;
}

.buttons{
  display: flex;
}
.buttons Button{
  margin: 5px;
}

/* Container principal */
.financas-container {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  max-width: 800px;
  margin: 0 auto;
}

/* Estilo para cada item de finança */
.financa-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
  background-color: #fff;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Texto da finança */
.financa-text {
  font-size: 16px;
  font-weight: bold;
  color: #333;
  margin: 0;
}

/* Estilo específico para Ganho */
.ganho {
  color: green;
}

/* Estilo específico para Gasto */
.gasto {
  color: red;
}

/* Estilo para as ações (modais de edição e exclusão) */
.financa-actions {
  display: flex;
  gap: 10px;
}

/* Estilo para o botão de editar ou excluir */
.excluirGasto, .excluirGanho, .editDebito, .editGanho {
  font-size: 14px;
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.excluirGasto:hover, .excluirGanho:hover, .editDebito:hover, .editGanho:hover {
  background-color: #0056b3;
}

/* Estilos para carregamento */
.financas-container p {
  text-align: center;
  font-size: 18px;
  color: #666;
}




@media (max-width:900px) {
  .fluxo_section{
    grid-template-columns: repeat(1,1fr);
  }

}
@media (max-width:700px) {
  .grafico_container{
    width: 300px;
  }
}
