.container{
    position: absolute;
    top: 50px;
    left: 110px;
    right: 100px;
    z-index: -1;
    margin: 0 auto;
}
#titulo_container{
    font-size: 5vh;
    margin-bottom: 5%;
    text-align: center;
}


.tela{
    display: flex;
    flex-direction: column;
}

.agendaDeD{
   height: 100vh;
   width: 100%;
}

.toolbar{
   width: 100%;    
   max-width: 500px;
   background-color: rgb(244, 244, 244);
   border-radius: 10px;
   box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.cabecalho-container{
    display: flex;
    justify-content: space-around;
    background-color: rgba(166, 209, 255, 0.349);
    padding-top: 15px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-top: 20px;
}

.mesAno{
    justify-content: flex-start;
}

.dirtop{
    display: flex;
    padding-top: 10px;
}
.dirtop Button{
    width: 100px;
    display: block;
    margin: auto;
}

.mdl{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.427);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.conteudo-mdl{
    width: 40rem;
    height: 20rem;
    background-color:  rgb(199, 203, 230);
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    z-index: 1000;
}

.rbc-toolbar{
    height: 10vh;
    font-size: 26px ;
}

.rbc-btn-group > button{
    border: 0;
}

.rbc-toolbar button{
    border: 1px solid rgb(97, 97, 97);
    
}

.rbc-toolbar button:active,
.rbc-toolbar button.rbc-active{
    background-color: rgb(83, 103, 250);
    color: white;
    border: 0.7px solid black;
}

.rbc-month-view{
    border-color: rgba(0, 0, 0, 0.425);
}

.rbc-month-row + .rbc-month-row{
    border-color: rgba(0, 0, 0, 0.425);
}

.rbc-day-bg + .rbc-day-bg{
    border-color: rgba(0, 0, 0, 0.425);
    color: white;
}

.rbc-today{
    border: 1px solid black;
    background-color: whitesmoke;
}

.rbc-date-cell + .rbc-now {
    background-color: rgb(255, 192, 31);
}

@media (max-width: 760px) {
    .container{
        top:0%;
        left: 0%;
        right: 0%;
        width: 100%;
        margin: 0 auto;

    }
    .cabecalho-container{
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: center;
    }
    .dirtop{
        padding-top: 20px;
        padding-left: 20px;
    }
}