.clientes_container{
    border: 3px solid pink;
    position: fixed;
    top: 50px;
    left: 100px;
    right: 100px;
    z-index: 0;
    pointer-events: auto; 
    width: 70%;
    margin: 0 auto;
}
#clientes_titulo_container{
    font-size: 5vh;
    margin-left: 200px;
    color: rgb(60, 60, 60);
    text-align: center;
}

  /* Estilo da tabela */
  .clientes_container table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    margin: 0 auto;
  }
  
  .clientes_container th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  .clientes_container th {
    background-color: #3498db;
    color: white;
  }

  .clientes_container tbody tr:hover {
    background-color: #eaf2f8; /* Cor de fundo ao passar o mouse */
  }

  /* Estilo do botão "Mais" */
  .clientes_container .btn-more {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
  }

.btn-more:hover {
    background-color: #a1c8e2;
  }

.clientes_options{
  height: 300px;
}

.thStatus{
  width: 1%;
}

.thNome{
  width: 1%;
}

.thIdade{
  width: 1%;
}

.thConsulta{
  width: 1%;
}

.tdInformacoes{
  width: 1%;
}


/* Responsividade para telas menores */
  @media (max-width: 760px) {
    .clientes_container{
        top:0%;
        left: 0%;
        right: 0%;
        width: 100%;
        margin: 0 auto;

    }
    #clientes_titulo_container{
        font-size: 4vh;
        margin-left: 50px;
        margin-top: 20px;
    }
    .table-container {
      overflow-x: auto; /* Habilita o scroll horizontal */
    }
    .clientes_container table {
      width: 100%;
      min-width: 600px; /* Define uma largura mínima para não distorcer a tabela */
    }

    .thStatus{
      width: 15%;
    }
    
    .thNome{
      width: 5%;
    }
    
    .thIdade{
      width: 10px;
    }
    
    .thConsulta{
      width: 18%;
    }
    
    .tdInformacoes{
      width: 2%;
    }
    
  }
